*{
    -webkit-user-selec:none;
}

body{
    font-family: "";
    font-size: 14px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border:0;
    position:fixed;
}

.header{
    position:absolute;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
    background: #118eba;
    border-bottom: 1px solid #0e5771;
    padding: 0;
    color:#eee;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    
}
.body{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.body .content{
    margin-top: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.ulMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    
}

.transition {
  transition-duration: .75s;   
}

.center {
  transform: translate3d(0, 0, 0);
}

.right {  
  transform: translate3d(80%, 0, 0);
}

.visible{
    display: block;
}

.hide {
    display: none;
}